<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iodaniel.notesio">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NotesIO">
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInSignUp"
            android:exported="true"
            android:theme="@style/Theme.NotesIO" />
        <activity
            android:name=".note_package.CreateNote"
            android:exported="false"
            android:theme="@style/Theme.CreateNote" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".task_card_package.CreateTaskCard" />
        <activity
            android:name=".task_card_package.ActivityCreateTask"
            android:theme="@style/Theme.ActivityCreateTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".task_card_package.ActivityTasks"
            android:theme="@style/Theme.Tasks" />
        <activity android:name=".ClosingActivity" />

        <service android:name=".task_card_package.NotificationService" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>